* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* обнуление базовых стилей */
    text-decoration: none;
}

body {
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    background: #ffffff;
}

img {
    display: block;
    max-width: 100%;
}

.foundation {
    width: 1170px;
    margin: 0 auto;
}

.navigation {
    padding-top: 51px;
    padding-bottom: 94px;
}

main {
    margin-top: 2px;
    margin-bottom: 162px;
}

footer {
    margin-top: 162.45px;
}

.Logos {
    padding-top: 97px;
    padding-bottom: 97px;
}

.h1 {
    margin-bottom: 17px;
    font-family: "Gilroy-Bold";
    font-size: 60px;
    line-height: 70px;
    color: #000000;
}

.h2 {
    margin-bottom: 37px;
    font-family: "Gilroy-Medium";
    font-size: 20px;
    line-height: 23px;
    color: #1b0bfc;
}

.buttons {
    font-family: "Gilroy-Bold";
}

.btnS {
    padding: 15px 35px;
    background: #f25822;
    box-shadow: 4px 4px 8px rgba(242, 88, 34, 0.2);
    border-radius: 50px;
}

.btnW {
    padding: 15px 35px;
    font-size: 15px;
    line-height: 18px;
    color: #aaaaaa;
    border-radius: 50px;
}

.Home {
    color: #f25822;
}